*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}
.container{
    margin: 10px auto;
    width: 200px;
}
.screen{
    background-color:aliceblue;
    width: 100%;
    height: 50px;
    position: relative;
}
.keyboard{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.item{
    height: 50px;
    outline: none;
    border: 0.1 solid rgb(87, 19, 19);

}
.item:hover{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(137,123,132,1) 52%, rgba(253,45,60,0.9612219887955182) 100%);
    cursor: pointer;
}
.item1{
    grid-column: 1/span 2;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,187,216,1) 45%, rgba(148,187,233,0.5438550420168067) 100%);
}
.item2{
    background-color:rgb(108, 106, 231); 
}
.item2:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,9,121,0.8491771708683473) 35%, rgba(0,212,255,1) 100%);
}
.screen .input{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    color:black;
    z-index: 222;
}